$colors: (
  primary: #424242,
  primary-light: lighten(#424242, 20%),
  text: #f5f5f5,
  flicker: rgba(255, 153, 0, 1)
);

@function color($color-name) {
  @return map-get($colors, $color-name)
};

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  color: color(text);
  background: url(/assets/images/film.jpg);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
#textboxfour{
  /* padding: 200px; */
  margin: 0;  
}

.list-group-item {
  line-height: 2.5;
}

.header {
  text-align: center;
  margin: 0;
}

.headtext {
  text-align: center;
  margin: 0;
}
.parallax-container {
  height: 400px;

  p {
    font-size: 18px;

    @include desktop {
      font-size: 12px;
    }
  }

  @include desktop {
    background-attachment: fixed;
  }
}
// @media (max-width: 568) {
//   .parallax{
//     background-attachment: scroll;
//   }
  
// }

.nav-wrapper {
  background-color: color(primary);
  font-family: 'Julius Sans One', sans-serif;
}

.main {
  background-color: color(primary);
  margin-top: 250px;
}

.modal {
  background-color: color(primary);
  font-family: 'Julius Sans One', sans-serif;
}

.input-field label {
  color: color(text);
}

.active label {
  color: color(text)
}

button {
  font-family: 'Julius Sans One', sans-serif;
}

.thumb {
  margin-top: 100px;
}

.sidenav {
  background-color: color(primary-light);
}

#sidenavsearch {
  background-color: color(primary);
}

.brand-logo {
  animation: text-flicker 3s linear 3;

  @keyframes text-flicker {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px color(flicker);
    }
    
    2% {
      opacity:1;
      text-shadow: 0px 0px 29px color(flicker);
    }
    8% {
      opacity:0.1;
      text-shadow: 0px 0px 29px color(flicker);
    }
    9% {
      opacity:1;
      text-shadow: 0px 0px 29px color(flicker);
    }
    12% {
      opacity:0.1;
      text-shadow: 0px 0px color(flicker);
    }
    20% {
      opacity:1;
      text-shadow: 0px 0px 29px color(flicker)
    }
    25% {
      opacity:0.3;
      text-shadow: 0px 0px 29px color(flicker)
    }
    30% {
      opacity:1;
      text-shadow: 0px 0px 29px color(flicker)
    }
    
    70% {
      opacity:0.7;
      text-shadow: 0px 0px 29px color(flicker)
    }
    
    72% {
      opacity:0.2;
      text-shadow:0px 0px 29px color(flicker)
    }
    
    77% {
      opacity:.9;
      text-shadow: 0px 0px 29px color(flicker)
    }
    100% {
      opacity:.9;
      text-shadow: 0px 0px 29px color(flicker)
    }
  }
}