html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  color: #f5f5f5;
  background: url(/assets/images/film.jpg);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
#textboxfour{
  /* padding: 200px; */
  margin: 0;  
}

.list-group-item {
  line-height: 2.5;
}

.header {
  text-align: center;
  margin: 0;
}

.headtext {
  text-align: center;
  margin: 0;
}
.parallax-container {
  height: 400px;
}
@media (max-width: 568) {
  .parallax{
    background-attachment: scroll;
  }
  p {
    font-size: 18px;
  }
}

.nav-wrapper {
  background-color: #424242;
  font-family: 'Julius Sans One', sans-serif;
}

.main {
  background-color: #424242;
  margin-top: 250px;
}

.modal {
  background-color: #424242;
  font-family: 'Julius Sans One', sans-serif;
}

.input-field label {
  color: #f5f5f5;
}

.active label {
  color: #f5f5f5
}

button {
  font-family: 'Julius Sans One', sans-serif;
}

.thumb {
  margin-top: 100px;
}

.sidenav {
  background-color: #feab68;
}

#sidenavsearch {
  background-color: #424242;
}